<div class="container">
  <h2>Create a short url</h2>
  <form action="/urls" method="post">
    <input type="text" name="url" placeholder="Enter url">
    <input type="submit" value="Create Url">
  </form>

  <% @urls.each do |url| %>
    <ul>
      <li><%= url.name %>  -  <a href="/<%= url.short_url %>">http://<%= url.short_url %></a></li>
    </ul>
  <% end %>
</div>
